<!DOCTYPE html>
<html>
<head>
<title>Wumpus Logic Agent</title>
<style>
body{font-family:Arial;text-align:center}
.grid{display:grid;margin:20px auto;width:400px}
.cell{border:1px solid #999;height:40px}
.safe{background:#7CFC90}
.unknown{background:#ccc}
</style>
</head>
<body>

<h1>Dynamic Wumpus Agent</h1>

Rows <input id="rows" value="4">
Cols <input id="cols" value="4">
<button onclick="start()">Start</button>
<button onclick="step()">Step</button>

<h3 id="percepts"></h3>
<h3 id="steps"></h3>

<div id="grid" class="grid"></div>

<script src="/static/script.js"></script>
</body>
</html>